@model IEnumerable<Category>

@foreach (var category in Model)
{
    
    <li class="display0" data-caption="@category.Name"> <a>@category.Id</a>
        
        @if (category.Children.Count() > 0)
        {
            <ul>
                @Html.Partial("CategoryPartial", category.Children)
            </ul>
        }
    </li>
}