@model IEnumerable<Budget.Web.Models.CategoryDto>

<p>    
    <a class="button primary" asp-action="Create">Добавить</a>
</p>

<!--https://github.com/ludo/jquery-treetable-->


<table id="tree-table" class="table table-hover table-bordered">

    <tbody>

    @Html.Partial("PartialCategory", Model)

    </tbody>

</table>





